.featuredProperties {
    display: flex;
    justify-content: center;
    background-color: #f5f1ef;
    padding-top: 188px;
    padding-bottom: 358px;
    position: relative;

    &::before {
    }

    @include responsive(tablet) {
        padding-top: 100px;
        padding-bottom: 250px;
    }
    @include responsive(mobile-l) {
        padding-top: 80px;
        padding-bottom: 160px;
    }

    @include responsive(mobile-s) {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .wrapper {
        @include wrapper;
        z-index: 1;

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;

            .title {
                margin-bottom: 46px;

                @include responsive(mobile-l) {
                    margin-bottom: 30px;
                }

                @include responsive(mobile-s) {
                    margin-bottom: 20px;
                }
            }

            .cardsContainer {
                display: flex;
                justify-content: center;
                gap: 38px;
                width: 100%;
                flex-wrap: wrap;

                @include responsive(desktop) {
                }

                @include responsive(tablet) {
                    gap: 30px;
                }

                @include responsive(mobile-l) {
                    gap: 20px;
                }

                @include responsive(mobile-s) {
                    gap: 16px;
                }
            }
        }
    }

    .decoration {
        position: absolute;
        bottom: 0;
        max-width: 754px;
        width: 100%;
        height: 487px;
        border-top-left-radius: 50% 80%;
        border-top-right-radius: 50% 80%;
        background: linear-gradient(180deg, #f2ded4 0%, rgba(255, 255, 255, 0) 299.89%);
        z-index: 0;

        @include responsive(tablet) {
            gap: 70px;
        }
        @include responsive(mobile-l) {
            width: 60%;
            height: 200px;
        }

        @include responsive(mobile-s) {
            width: 50%;
            height: 100px;
        }
    }
}
