.socialsContainer {
    .logo {
        margin-bottom: 25px;
    }

    .socialsBlock {
        display: flex;
        gap: 30px;

        @include responsive(tablet) {
            justify-content: space-around;
        }

        @include responsive(mobile-l) {
            justify-content: space-around;
        }

        @include responsive(mobile-s) {
            justify-content: space-around;
        }
    }
}
