.header {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background: $color-content;
    max-width: 1400px;
    width: 100%;
    padding: 44px;
    background: $color-white;
    align-items: center;

    @include responsive(tablet) {
        padding: 44px 15px;
    }
    @include responsive(mobile-l) {
        position: relative;
        top: 0;
        padding: 30px 15px;
    }
    @include responsive(mobile-s) {
        position: relative;
        top: 0;
        padding: 20px 15px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        gap: 60px;

        @include responsive(tablet) {
            gap: 20px;
        }
        @include responsive(mobile-l) {
            gap: 15px;
        }
    }
}
