// Colors
$color-primary: #3b3a5d;
$color-secondary: #ffbb50;
$color-content: #8f8f8f;
$color-link: #b16642;
$color-border: #b16642;

// TEXT SIZE
// Headings
$size-heading-h1: 45px;
$size-heading-h2: 40px;
$size-heading-h3: 35px;
$size-heading-h4: 30px;
$size-heading-h5: 25px;
$size-heading-h6: 20px;

// Media queries
$desktop: 1400px;
$tablet: 1024px;
$mobile-l: 768px;
$mobile-s: 576px;
