// Colors
$color-white: #fff;
$color-primary: #3b3a5d;
$color-secondary: #ffbb50;
$color-content: #8f8f8f;
$color-link: #b16642;
$color-border: #b16642;
$color-grey: #a4a4a4;
$color-section-background: #f3e8e2;

// TEXT SIZE
// Headings
$size-heading-278: 278px;
$size-heading-65: 65px;
$size-heading-h1: 45px;
$size-heading-h2: 40px;
$size-heading-h3: 35px;
$size-heading-h4: 30px;
$size-heading-h5: 25px;
$size-heading-h6: 20px;
$size-16: 16px;

// Media queries
$desktop: 1400px;
$tablet: 1024px;
$mobile-l: 768px;
$mobile-s: 576px;
