.mobileMenu {
    display: none;
    position: relative;

    @include responsive(mobile-l) {
        display: block;
    }

    @include responsive(mobile-s) {
        display: block;
    }

    .wrapperList {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;

        .list {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-decoration: none;
            padding: 0;
            margin: 0;
            padding: 100px 10px;
            width: 250px;
            background-color: $color-white;
            height: 100vh;
            transition: 0.2s ease;

            @include responsive(mobile-l) {
            }

            @include responsive(mobile-s) {
            }

            li {
                color: $color-header-link;
                margin-bottom: 10px;
                width: 100%;
                padding: 5px;
                display: flex;
                justify-content: center;

                &:active,
                :hover {
                    transition: 0.7s;
                    color: $color-primary;
                }

                @include responsive(tablet) {
                }
            }

            li:last-child {
                margin-bottom: 0;
            }

            & .button {
                padding: 10px;
            }
        }
        .show {
            opacity: 1;
            left: 0;
        }

        .hide {
            opacity: 0;
            left: 100%;
        }
    }
}
