.contentBlock {
    max-width: 450px;
    margin-bottom: 28px;

    @include responsive(mobile-l) {
        max-width: 100%;
    }

    @include responsive(mobile-s) {
        max-width: 100%;
    }

    .title {
        margin-bottom: 5px;

        @include responsive(mobile-l) {
            text-align: center;
        }

        @include responsive(mobile-s) {
            text-align: center;
        }
    }

    .text {
        @include responsive(mobile-l) {
            text-align: center;
        }

        @include responsive(mobile-s) {
            text-align: center;
        }
    }
}
