.footer {
    width: 100vw;
    background: aliceblue;
    padding: 0 0 35px;

    .wrapper {
        @include wrapper;

        .section {
            display: flex;
            justify-content: space-between;
        }

        .firstSection {
            padding: 72px 0;
            align-items: center;
            gap: 130px;
        }

        .secondSection {
            padding: 58px 0;
            align-items: center;
            gap: 210px;
        }

        .copyrightBlock {
            text-align: center;
        }
    }
}
