.footer {
    width: 100vw;
    background: aliceblue;
    padding: 0 0 35px;

    .wrapper {
        @include wrapper;

        .section {
            display: flex;
            justify-content: space-between;
        }

        .firstSection {
            padding: 72px 0;
            align-items: center;
            gap: 130px;

            @include responsive(tablet) {
                gap: 20px;
                flex-direction: column;
            }

            @include responsive(mobile-l) {
                flex-direction: column;
                gap: 20px;
            }

            @include responsive(mobile-s) {
                gap: 20px;
                flex-direction: column;
            }
        }

        .secondSection {
            padding: 58px 0;
            align-items: center;
            gap: 210px;
        }

        .copyrightBlock {
            text-align: center;
        }
    }
}
