// Font weight
.bold {
    font-weight: 700;
}

.semiBold {
    font-weight: 600;
}
.thin {
    font-weight: 400;
}

//Font color
.white {
    color: $color-white;
}
.primary {
    color: $color-primary;
}
.content {
    color: $color-content;
}
.secondary {
    color: $color-secondary;
}
.link {
    color: $color-link;
}
.border {
    color: $color-border;
}

//Font size
.size45 {
    font-size: $size-heading-h1;

    @include responsive(tablet) {
        font-size: $size-heading-h2;
    }
    @include responsive(mobile-l) {
        font-size: $size-heading-h3;
    }
    @include responsive(mobile-s) {
        font-size: $size-heading-h4;
    }
}
.size40 {
    font-size: $size-heading-h2;

    @include responsive(tablet) {
        font-size: $size-heading-h3;
    }
    @include responsive(mobile-l) {
        font-size: $size-heading-h4;
    }
    @include responsive(mobile-s) {
        font-size: 25px;
    }
}
.size35 {
    font-size: $size-heading-h3;

    @include responsive(tablet) {
        font-size: $size-heading-h4;
    }
    @include responsive(mobile-l) {
        font-size: $size-heading-h5;
    }
    @include responsive(mobile-s) {
        font-size: $size-heading-h6;
    }
}
.size30 {
    font-size: $size-heading-h4;

    @include responsive(tablet) {
        font-size: $size-heading-h5;
    }
    @include responsive(mobile-l) {
        font-size: $size-heading-h6;
    }
    @include responsive(mobile-s) {
        font-size: $size-16;
    }
}
.size25 {
    font-size: $size-heading-h5;

    @include responsive(tablet) {
        font-size: $size-heading-h6;
    }
    @include responsive(mobile-l) {
        font-size: $size-16;
    }
    @include responsive(mobile-s) {
        font-size: $size-16;
    }
}
.size20 {
    font-size: $size-heading-h6;

    @include responsive(mobile-l) {
        font-size: $size-16;
    }
    @include responsive(mobile-s) {
        font-size: $size-16;
    }
}

.upperCase {
    text-transform: uppercase;
}
