.whyChoose {
    display: flex;
    justify-content: center;
    padding-top: 313px;
    padding-bottom: 151px;
    position: relative;

    @include responsive(tablet) {
        padding-top: 200px;
        padding-bottom: 110px;
    }
    @include responsive(mobile-l) {
        padding-top: 160px;
        padding-bottom: 90px;
    }

    @include responsive(mobile-s) {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .wrapper {
        @include wrapper;

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;

            .title {
                margin-bottom: 46px;
                max-width: 700px;
                text-align: center;
                text-transform: capitalize;

                @include responsive(mobile-l) {
                    margin-bottom: 30px;
                }

                @include responsive(mobile-s) {
                    margin-bottom: 20px;
                }
            }

            .cardsContainer {
                display: flex;
                justify-content: center;
                gap: 38px;
                width: 100%;
                flex-wrap: wrap;

                @include responsive(tablet) {
                    gap: 30px;
                }

                @include responsive(mobile-l) {
                    gap: 20px;
                }

                @include responsive(mobile-s) {
                    gap: 16px;
                }
            }
        }
    }
}
