.processSection {
    margin: 89px 0 210px;

    @include responsive(tablet) {
        margin: 70px 0;
    }
    @include responsive(mobile-l) {
        margin: 50px 0;
    }
    @include responsive(mobile-s) {
        margin: 30px 0;
    }

    .wrapper {
        @include wrapper;

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .title {
                margin-bottom: 35px;
            }

            .cardsContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 28px;

                @include responsive(tablet) {
                    justify-content: center;
                }
                @include responsive(mobile-l) {
                    gap: 25px;
                    justify-content: center;
                }
                @include responsive(mobile-s) {
                    gap: 10px;
                    justify-content: center;
                }
            }
        }
    }
}
